/*
Theme Name: Creative Cache
Theme URI: https://creativecache.co/themes
Author: the Creative Cache team
Author URI: https://creativecache.co/
Description: Agency theme design for Creative Cache by Creative Cache.
Version: 1.2.0
Text Domain: creativecache
Tags: one-column, two-columns, right-sidebar, flexible-header, accessibility-ready, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, sticky-post, theme-options, threaded-comments, translation-ready
*/

/*
----------
Default Styles
----------
*/

* {
	box-sizing: border-box;
}

body,
html {
	padding: 0;
	margin: 0;
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-size: 100%;
	position: relative;
	width: 100%;
	height: 100%;
	color: #000;
	background-color: #fff;
}

body {
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: 400;
}

h1 {
    font-size: 2.5em;
    margin: .67em 0;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.75em;
}

h4 {
	font-size: 1.5em;
}

h5 {
	font-size: 1.3em;
}

h6 {
	font-size: 1em;
}

a {
	color: #38808D;
	border-bottom: 2px solid;
	text-decoration: none;
}

a.img-link {
	border-bottom: none;
}

a:hover {
	color: #777;
	border-bottom: none;
}

img {
	max-width: 100%;
}

figure {
	margin-left: 0;
	margin-right: 0;
}

figure.alignleft,
figure.alignright {
    margin-top: 0;
}

video {
	margin-bottom: 1em;
}

p,
table,
ul,
ol {
	font-size: 1.15em;
	line-height: 1.7em;
}

ul,
ol {
	padding-left: 1.5em;
}

p p,
table table,
ul ul,
ol ol {
	font-size: 100%;
}

table {
	max-width: 100%;
	width: 100%;
	margin-bottom: 1em;
	border-collapse: collapse;
	border: 1px solid #d0d0d0;
}

td,
th {
	border: 1px solid #d0d0d0;
	padding: 5px;
}

blockquote {
	margin: 0;
	padding: 0 2em;
	border-left: 4px solid #000;
	border-right: 4px solid #000;
}

hr {
	border-color: #d0d0d0;
    border-style: solid;
    border-top: 0;
}

iframe {
	border-style: none;
}

input,
textarea {
    padding: 10px;
    font-size: 1em;
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

textarea {
	max-width: 100%;
	resize: vertical;
}

input[type="button"] {
    font-size: 18px;
    background-color: #000;
    color: #fff;
	border: 2px solid #000;
    font-family: 'Montserrat';
    padding: 12px 24px;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	-o-transition: all ease .5s;
	-ms-transition: all ease .5s;
	transition: all ease .5s;
}

input[type="button"]:hover {
	background-color: #fff;
	color: #000;
}

input[type="button"]:disabled {
    background-color: rgba(0, 0, 0, 0.7);
}

input[type="button"]:disabled:hover {
    background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
}

label {
    font-size: 1.2em;
}

ul label {
	font-size: 1em;
}

/*
----------
Special Classes
----------
*/

.clear {
	clear: both;
}

.main-container {
	min-height: 100vh;
	position: relative;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 2em;
	width: 100%;
}

.small-container .entry-content > *,
.small-container .entry-header > * {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.entry-content,
.entry-header {
	padding-left: 2rem;
	padding-right: 2rem;
}

.skip, .skip:hover, .skip:visited {
	position: absolute;
	display: inline-block;
	left: 0;
	top: -5000px;
	width: 1px;
	height: 1px;
	overflow: hidden;
	background-color: #fff;
	text-decoration: none;
	padding: 10px 15px;
}

.skip:focus, .skip:active {
	top: 0px;
	width: auto;
	height: auto;
	z-index: 999;
}

.wp-block-button .wp-block-button__link {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	border: 2px solid #000000;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	-o-transition: all ease .5s;
	-ms-transition: all ease .5s;
	transition: all ease .5s;
}

.wp-block-button .wp-block-button__link:hover {
	background-color: transparent !important;
	color: #000000;
}

.wp-block-image .alignleft {
    margin-right: 2em;
}

.wp-block-image .alignright {
    margin-left: 2em;
}

.round-img img,
img.round-img {
    border-radius: 300px;
}

/*
----------
Forms
----------
 */

.nf-form-wrap {
	margin: 2em 0;
}

.nf-before-form-content {
	margin-bottom: 1em;
}

/*
----------
Header
----------
*/

#main-header {
	width: 100%;
	padding: 15px 0;
	background-color: #fff;
}

#cc-heading {
	display: table;
	position: relative;
}

#main-header a {
	color: #000;
	text-decoration: none;
	border-bottom: none;
}

#main-header .header-title {
	text-transform: uppercase;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: 400;
	margin: 0;
	display: table-cell;
	vertical-align: middle;
	white-space: nowrap;
	font-size: 1.5em;
}

#main-header .header-title a {
	padding: 8px 0;
	border-bottom: 2px solid transparent;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	-o-transition: all ease .5s;
	-ms-transition: all ease .5s;
	transition: all ease .5s;
}

#main-header .header-title a:hover {
	border-color: #000;
}

#primary-nav {
	display: table-cell;
	vertical-align: middle;
	text-transform: lowercase;
}

#primary-nav .mobile-menu {
	display: none;
	text-align: right;
	font-size: 20px;
}

#primary-nav .menu {
	text-align: right;
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
	font-size: 100%;
    line-height: normal;
}

#primary-nav .menu li {
	display: inline-block;
	margin-right: -1px;
	padding: 0 8px;
	position: relative;
	vertical-align: top;
}

#primary-nav .menu li.menu-item-has-children:hover .sub-menu {
	display: block;
}

#primary-nav .menu a {
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
	padding: 12px 0;
	border-bottom: 2px solid transparent;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	-o-transition: all ease .5s;
	-ms-transition: all ease .5s;
	transition: all ease .5s;
}

#primary-nav .menu li:hover > a {
	border-color: #000;
}

#primary-nav .menu i {
	margin-left: 3px;
	font-size: .5em;
	vertical-align: middle;
}

#primary-nav .menu .button a {
	border: 2px solid #000;
	background-color: #fff;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	-o-transition: all ease .5s;
	-ms-transition: all ease .5s;
	transition: all ease .5s;
}

#primary-nav .menu .button a:hover {
	background-color: #a4d071;
}

#primary-nav .sub-menu {
	position: absolute;
	padding: 0 0 12px;
	right: -8px;
	top: 100%;
	background-color: #fff;
	z-index: 99;
	display: none;
}

#primary-nav .sub-menu li {
	white-space: nowrap;
	margin: 0;
	padding: 0 16px;
}

#primary-nav .sub-menu a {
    padding-bottom: 0;
}

#primary-nav .current-menu-item > a {
	border-color: #000;
} 

/*
----------
Homepage
----------
*/

#banner {
	min-height: calc(75vh - 75px);
	overflow: hidden;
	position: relative;
	height: auto;
	margin-bottom: 4em;
}

#banner > img {
	position: absolute;
	z-index: 0;
	left: -15%;
	top: 50%;
	transform: translateY(-50%);
	width: 80%;
	height: auto;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	-o-transition: all ease .5s;
	-ms-transition: all ease .5s;
	transition: all ease .5s;
}

#banner .home-content {
	left: 50%;
	width: 50%;
	position: absolute;
	padding: 0 2em;
	z-index: 1;
	top: 50%;
	max-width: 600px;
	transform: translateY(-50%);
}

#banner .home-content h2 {
	font-size: 2.5em;
	margin: 0;
	line-height: 1.1em;
}

#banner .home-content p {
	font-size: 1.15em;
	line-height: 1.7em;
	margin: 1em 0 1.5em;
}

.project-type {
	font-weight: 500;
	margin: 0;
	padding: 0;
	list-style: none;
}

.project-type li {
	display: inline-block;
}

.project-type li span::after {
	content: ',';
}

.project-type li:nth-last-child(1) span::after {
	content: none;
}

.web-window {
	width: 100%;
	border: 1px solid #d4d4d4;
	max-height: 80vh;
	border-radius: 3px;
	position: relative;
	overflow: hidden;
	z-index: 1;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	-o-transition: all ease .5s;
	-ms-transition: all ease .5s;
	transition: all ease .5s;
}

.web-window {
	height: 60vw;
}

.web-window.image {
	height: auto;
}

.archive .web-window.minimized {
	max-height: 30vw;
}

.web-window.minimized {
	width: 50%;
}

.web-window .top-bar {
	background-color: #efefef;
	padding: 5px;
}

.web-window .top-bar .bar-button {
	border: 6px solid;
	display: inline-block;
	margin-left: 2px;
	border-radius: 50%;
	cursor: pointer;
    padding: 0;
    vertical-align: middle;
}

.web-window .top-bar .bar-button.red {
	border-color: #fc615d;
	cursor: default;
}

.web-window .top-bar .bar-button.yellow {
	border-color: #fdbc40;
}

.web-window .top-bar .bar-button.yellow:hover {
	border-color: #dfa135;
}

.web-window .top-bar .bar-button.green {
	border-color: #34c749;
}

.web-window .top-bar .bar-button.green:hover {
	border-color: #26ab35;
}

.web-window .website {
	width: 100%;
	height: calc(100% - 29px);
	position: relative;
	overflow-y: scroll;
	display: block;
	text-decoration: none;
	border-bottom: none;
	background-color: #555;
}

.web-window .website img {
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	z-index: 0;
}

.web-window.image .website img {
	position: static;
	display: block;
}

.web-window + .project-content {
	max-width: 50%;
	margin: 0 auto;
	width: 100%;
	position: absolute;
	z-index: 0;
	top: 0;
	right: 0;
	padding: 2em 0 0 2em;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	-o-transition: all ease .5s;
	-ms-transition: all ease .5s;
	transition: all ease .5s;
}

.archive .web-window + .project-content,
.website-window:nth-child(odd) .web-window + .project-content {
	padding-top: 4em;
}

.website-window:nth-child(2) .web-window + .project-content {
	padding-top: 2em;
}

.website-window .project-content .entry-title {
	font-size: 2em;
	margin: 0 0 .5em;
}

.website-window .project-content > a {
	margin-top: 1em;
}

.project-content {
    max-width: 800px;
    margin: 0 auto;
}

.projects-controls {
	position: relative;
}

#project-type {
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline-block;
	font-size: 1em;
}

#project-type a {
	float: none;
}

#project-type > li > a {
	border-bottom: 2px solid;
}

#project-type > li > a::after {
	font-family: 'Font Awesome\ 5 Free';
	font-weight: 900;
    font-size: .5em;
    content: '\f078';
    margin-left: 5px;
    vertical-align: bottom;
}

#project-type .all-types {
	display: none;
	list-style: none;
	font-size: 18px;
	position: absolute;
    background-color: #fff;
    z-index: 999;
    padding: 5px 0;
    top: 100%;
    left: 0;
}

#project-type .all-types li {
	display: block;
}

#project-type .all-types a {
	margin: 0;
    padding: 5px 10px 5px 0;
    display: block;
}

/*
----------
Page
----------
*/

#page {
	margin-bottom: 5em;
}

#main-content section {
	padding: 2em 0;
	clear: both;
	overflow: auto;
}

.archive #main-content section {
	padding: 4em 0;
/* 	border-bottom: 1px solid #d0d0d0; */
}

.archive #main-content section.grid {
	
}

.archive #main-content section:nth-child(2) {
	padding-top: 2em;
}

.archive #main-content section:nth-last-child(1) {
	border-bottom: none;
	padding-bottom: 2em;
}

body.page-template-default #main-content > .type-page {
	max-width: 800px;
	margin: 0 auto;
}

body.post-template-default #main-content > .type-post {
	max-width: 800px;
	margin: 0 auto;
}

.featured-image {
	width: 100%;
    max-height: 60vh;
    height: 60vw;
    overflow: hidden;
    position: relative;
	margin-bottom: 4em;
	background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.featured-image img {
	position: absolute;
    height: auto;
    min-width: 100%;
    max-width: none;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-height: 100%;
}

#main-content > h2 {
	margin: 1em 0 0;
	font-size: 2.5em;
	font-weight: 400;
}

#main-content section.website-window {
	position: relative;
}

#main-content .more {
	width: 100%;
	padding: 2em 0;
	text-align: left;
}

#main-content .more a {
	display: inline-block;
	padding: 11px 24px;
	color: #fff;
	background-color: #000;
	border: 2px solid #000000;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 18px;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	-o-transition: all ease .5s;
	-ms-transition: all ease .5s;
	transition: all ease .5s;
}

#main-content .more i {
	font-size: .75em;
	vertical-align: middle;
}

#main-content .more a:hover {
	color: #000;
	background-color: #fff;
}

h1.entry-title a {
	border: none;
	margin-left: 5px;
	float: right;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	-o-transition: all ease .5s;
	-ms-transition: all ease .5s;
	transition: all ease .5s;
}

h1.entry-title a:hover {
	color: #000;
}

h1.entry-title i {
	font-size: .5em;
	vertical-align: middle;
}

/*
----------
Blog
----------
*/

body.blog #page {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 2em 5em;
	width: 100%;
}

#main-content.with-sidebar {
	width: 70%;
    margin: 0;
    float: left;
    padding: 0 1em 0 0;
}

#main-content.with-sidebar .featured-image img {
	width: auto;
	height: 100%;
	min-height: 0;
}

#right-sidebar {
	float: left;
	width: 30%;
	padding-left: 1em;
}

#right-sidebar .widgettitle:nth-child(1) {
	margin-top: 0;
}

.entry-meta {
    margin-top: .25em;
    font-style: italic;
    font-size: 1em;
}

body.blog .entry-header {
	clear: both;
}

body.blog .featured-image {
	width: 50%;
    float: left;
    max-height: 100%;
    height: 33vh;
}

body.blog .blog-entry-content {
	padding-left: 1em;
    float: left;
    width: 50%;
}


/*
----------
Footer
----------
*/

#cta-bar {
	background-color: #000000;
	padding: 2em;
	text-align: center;
	clear: both;
}

#cta-bar a {
	box-shadow: none;
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	line-height: 24px;
	margin: 0;
	padding: 11px 24px;
	text-align: center;
	white-space: normal;
	word-break: break-all;
	border: 2px solid #fff;
	background-color: #fff;
	color: #000;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	-o-transition: all ease .5s;
	-ms-transition: all ease .5s;
	transition: all ease .5s;
}

#cta-bar a:hover {
	background-color: transparent;
	color: #fff;
}

#footer {
	padding: 2em 0;
	position: absolute;
	border-top: 1px solid #d0d0d0;
	width: 100%;
	bottom: 0;
	clear: both;
}

#footer a {
	color: #777;
	border-bottom: none;
}

#footer a:hover {
	color: #38808D;
}

.main-footer .footer-sidebars {
	text-align: right;
}

.main-footer .sidebar {
	margin: 0 2em 2em;
	text-align: left;
	display: inline-block;
	vertical-align: top;
}

.main-footer .sidebar:nth-last-child(1) {
	margin-right: 0;
}

.main-footer .widget_nav_menu .widgettitle {
	margin: 0 0 .5em;
	font-weight: 100;
	text-transform: lowercase;
	font-size: 1.17em;
}

.main-footer .menu {
	padding: 0;
	list-style: none;
	margin: 0;
	font-size: 100%;
    line-height: normal;
}

.main-footer .menu li {
	margin-bottom: .5em;
}

.main-footer .menu li:nth-last-child(1) {
	margin-bottom: 0;
}

.main-footer .menu a {
	font-size: .9em;
	text-transform: lowercase;
}

#footer .footer-site-title {
	margin: 0 2em 0 0;
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: 400;
	float: left;
}

#footer .footer-site-title a {
	padding: 8px 0;
	color: #000;
	border-bottom: 2px solid transparent;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	-o-transition: all ease .5s;
	-ms-transition: all ease .5s;
	transition: all ease .5s;
}

#footer .footer-site-title a:hover {
	border-color: #000;
}

#copyright {
	font-size: .7em;
}

/*
----------
Projects
----------
*/

.project-page .wp-block-gallery,
.project-page .wp-block-image {
	width: 100%;
    max-width: 1000px;
    height: 50vw;
    padding: 0;
    display: block;
    min-height: 300px;
    max-height: 575px;
    background-color: #e0e0e0;
    position: relative;
    overflow: hidden;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.project-page .wp-block-gallery .top-bar {
	line-height: 1em;
	font-size: 1em;
}

.project-page .wp-block-gallery .top-bar .bar-button {
	margin-right: 2px;
}

.project-page .gallery-controls {
	position: absolute;
    z-index: 2;
    height: calc(100% - 28px);
    bottom: 0;
    left: 0;
    width: 100%;
}

.project-page .gallery-controls button {
	cursor: pointer;
	background-color: transparent;
	border: none;
}

.project-page .gallery-controls .left {
	top: 50%;
    left: 0;
    position: absolute;
    transform: translate(0, -50%);
}

.project-page .gallery-controls .right {
	top: 50%;
    right: 0;
    position: absolute;
    transform: translate(0, -50%);
}

.project-page .gallery-controls button i {
	color: #fff;
	font-size: 28px;
	padding: 10px;
	text-shadow: 0 0 5px #111;
}

.project-page .wp-block-gallery .blocks-gallery-item {
    position: absolute;
    width: 100%;
    height: calc(100% - 28px);
    margin: 0;
    bottom: 0;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
}

.project-page .wp-block-gallery .blocks-gallery-item:not(.visible) {
	opacity: 0;
}

.project-page .wp-block-gallery .blocks-gallery-item figure {
	width: 100%;
    height: 100%;
    display: block;
}

.project-page .wp-block-gallery .blocks-gallery-item figcaption {
	font-size: 18px;
	background: linear-gradient(0deg,rgba(0,0,0,.8),rgba(0,0,0,.4) 70%,transparent);
}

.project-page .wp-block-gallery .blocks-gallery-item img {
	background-color: #fff;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    margin: auto;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

/*
----------
Responsive
----------
*/

@media screen and (max-width: 768px) {
	#main-header .header-title {
		white-space: normal;
	}
	
	#primary-nav .menu {
		display: none;
		position: absolute;
		width: calc(100% + 4em);
		left: -2em;
		top: calc(100% + 15px);
		z-index: 99;
		text-align: center;
		background-color: #fff;
	}
	
	#primary-nav .menu li {
		display: block;
	}
	
	#primary-nav .mobile-menu {
		display: block;
	}
	
	#primary-nav .menu li.menu-item-has-children:hover .sub-menu {
		display: none;
	}
	
	#primary-nav .sub-menu {
		position: static;
	}
	
	#banner {
		min-height: 0;
	}
	
	#banner > img {
		opacity: .05;
		width: 200%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	
	#banner .home-content {
		position: initial;
		transform: none;
		width: 100%;
		margin: 0 auto;
		padding: 3em 2em;
	}
	
	.archive .web-window.minimized {
		max-height: 80vh;
	}
	
	.website-window:nth-child(odd) .web-window.minimized {
		margin-left: 0;
	}
	
	.archive .web-window + .project-content,
	.website-window:nth-child(odd) .web-window + .project-content {
		padding-top: 2em;
	}
	
	.web-window.minimized {
		width: 100%;
	}

	.web-window + .project-content {
		position: static;
		width: 100%;
		padding: 0;
		max-width: 100%;
	}
	
	.project-content .project-text {
		display: none;
	}
	
	.expand-all {
		display: none;
	}
	
	#main-content.with-sidebar {
		width: 100%;
	}
	
	#right-sidebar {
		width: 100%;
	}
	
	#footer .footer-site-title {
		margin: 0 0 1em;
		float: none;
	}
	
	.main-footer .footer-sidebars {
		text-align: left;
	}
	
	.main-footer .sidebar {
		margin-left: 0;
	}
	
	.wp-block-image {
	    text-align: center;
	}

	.project-page .wp-block-image {
		text-align: initial;
	}
	
	.wp-block-image .alignleft,
	.wp-block-image .alignright {
	    float: none;
	    margin: 0 auto;
	}
}

@media screen and (max-width: 425px) {
	#banner .home-content h2 {
		font-size: 9vw;
	}

	.project-page .wp-block-gallery .blocks-gallery-item figcaption {
		display: none;	
	}
}
